<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>

<!-- Add in the custom css     -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>

<body>
    <div class="main-container">
        <!-- header section starts  -->

        <header>
            <section class="nav">
                <!-- We can also insert any logo here     -->


                <div class="logo">
                    <h2 class="logo">PORT<span>FOLIO</span></h2>
                </div>

                <!--  checkbox to control the icon's state    -->
                <input id="menu-toggle" type="checkbox" />
                <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button"></div>
      </label>
                <!--  main menu    -->
                <ul class="menu">
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#blogs">Certifications</a></li>
                    <li><a href="#contact">Contact me</a></li>
                </ul>
            </section>
        </header>

        <!-- header section ends -->
        <section class="hero" id="hero">


            <!----hero Section start---->

            <div class="herocontent">
                <h4>Hello , Nice to see you! I'm</h4>
                <h1>A<span class="surname">nugallu</span> S<span>ai </span><span class="span2"></span>V<span>ivek</span>    R<span>eddy</span></h1>
                <h2>Specialized in <span class="span2">AI</span> & <span class="span2">Data Science</span></h2>
                <button class="btn1">Hire Me</button>
                <button class="btn2">Resume  <i class="https://drive.google.com/file/d/1nGrWKArMytv-ugHJBDDv5_K3lKYAQO8B/view?usp=sharing"></i></button>


            </div>

            <div class="image">
                <img src="{{ url_for('static', filename='home.jpeg') }}" alt=" ">

            </div>

        </section>
        <!-- hero section ends -->


        <!----About section start---->
        <section class="about" id="about">
            <div class="main">
                <img src="{{ url_for('static', filename='profile.jpg') }}" alt="aboutimg">

                <div class="about-text">
                    <h2>About Me</h2>
                    <h5></h5>
                    <p>I am Anugallu Sai Vivek Reddy, a passionate Computer Science student specializing in Artificial Intelligence and Data Science. With hands-on experience in machine learning and data analytics. Interned in AI-ML, Data Analytics, and RPA Development, gaining real-world insights into data-driven solutions. Additionally, my research on emotional responses on Twitter has been published in IEEE. Certified in AWS, Google TensorFlow, and Microsoft Azure, constantly exploring new technologies to drive innovation. </p>
                    <button type="button">Let's Talk</button>
                </div>
            </div>
        </section>
        <!-- About section ends -->

        <!-- skills section start -->
        <section class="skills" id="skills">
            <div class="max-width">
                <h2 class="title">Key Skills</h2>
                <div class="skills-content">
                    <div class="column right">
                        <div class="bars">
                            <div class="info">
                                <span class="headbar">Python</span>

                            </div>
                            <div class="progressBar">
                                <div class="line mern"></div>
                            </div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span class="headbar">Java</span>

                            </div>
                            <div class="progressBar">
                                <div class="line js"></div>
                            </div>

                        </div>
                        <div class="bars">
                            <div class="info">
                                <span class="headbar">React.js</span>

                            </div>
                            <div class="progressBar">
                                <div class="line react"></div>
                            </div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span class="headbar">HTML,CSS,Bootstrap</span>

                            </div>
                            <div class="progressBar">
                                <div class="line mongo"></div>
                            </div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span class="headbar">Javascript</span>

                            </div>
                            <div class="progressBar">
                                <div class="line node"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--skills section ends   -->

        <!-- Projects section -->

        <div class="service" id="projects">
            <div class="title">
                <h2 class="project-heading">Projects</h2>
            </div>

            <div class="box">
                <div class="card">

                    <h5>Health Monitoring System</h5>
                    <div class="pra">
                        <p>A Health Monitoring System tracks vital health metrics like heart rate, blood pressure, and body temperature in real-time using wearable devices and mobile apps. It enables remote monitoring, early detection of health issues, and enhances preventive care.</p>

                        <p style="text-align: center;">
                            <a class="button" href="#">Read More</a>
                        </p>
                    </div>
                </div>

                <div class="card">

                    <h5>Movie Recommendation System</h5>
                    <div class="pra">
                        <p>A Movie Recommendation System uses algorithms to suggest movies based on user preferences, viewing history, and ratings. By analyzing patterns and similarities, it provides personalized recommendations to enhance the user’s movie-watching experience.</p>

                        <p style="text-align: center;">
                            <a class="button" href="#">Read More</a>
                        </p>
                    </div>
                </div>

                <div class="card">

                    <h5>Tourism Management System</h5>
                    <div class="pra">
                        <p>A Tourism Management System helps manage travel operations, including bookings, itineraries, and customer preferences. It streamlines the planning process, offering personalized travel experiences and improving efficiency for both travelers and service providers.</p>

                        <p style="text-align: center;">
                            <a class="button" href="#">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project section ends  -->



        <!-- Experience section starts -->

        <section class="CV-page" id="experience">
            <div class="CV-grid">
                <div class="CV-grid-column">
                    <div class="CV-jobs">
                        <h2 class="CV-secondary heading CV-jobs-heading">Relevant Experience</h2>
                        <section class="CV-timeline CV-job">
                            <h3 class="CV-timeline-heading"><span class="CV-timeline-heading-title">AI-ML Intern </span>&#8211; <span class="CV-timeline-heading-location">AICTE, India </span><small class="CV-timeline-heading-duration">June 2024 - Present</small></h3>
                            <ul class="CV-timeline-details">
                                <li class="CV-job-timeline-item">Developing and optimizing machine learning models to predict patient health outcomes based on historical data.</li>
                                <li class="CV-job-timeline-item">Collaborating with a team to clean, preprocess, and analyze large datasets.</li>
                                <li class="CV-job-timeline-item">Implementing a recommendation system to offer personalized healthcare suggestions for patients.</li>
                                <li class="CV-job-timeline-item">Fine-tuning existing models to improve accuracy and efficiency through feature engineering and hyperparameter optimization.</li>
                            </ul>
                        </section>
                        <section class="CV-timeline CV-job">
                            <h3 class="CV-timeline-heading"><span class="CV-timeline-heading-title">Data Analytics Intern </span>&#8211; <span class="CV-timeline-heading-location">AICTE , India</span><small class="CV-timeline-heading-duration">March 2022 - August 2022</small></h3>
                            <ul class="CV-timeline-details">
                                <li class="CV-timeline-details-item">Building interactive dashboards and reports to help decision-makers visualize key performance indicators (KPIs).
Using Python and SQL to clean, process, and analyze large datasets, extracting meaningful insights.</li>
                                <li class="CV-timeline-details-item">Identifying trends and providing actionable recommendations for improving business strategies based on customer data.</li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- Experience section ends  -->

        <!-- Blog section starts  -->
        <div class="service" id="blogs">
            <div class="title">
                <h2 class="project-heading">Certifications</h2>
            </div>

            <div class="box">
                <div class="card">
                    <i class="fas fa-bars"></i>
                    <h5>Tensorflow</h5>
                    <div class="pra">
                        <p>An open-source machine learning framework. It validates my skills in building and deploying AI models, specifically in deep learning applications, such as image recognition, natural language processing, and more. </p>
                    </div>
                </div>

                <div class="card">
                    <i class="far fa-user"></i>
                    <h5>Google Cloud</h5>
                    <div class="pra">
                        <p>It validates my skills in leveraging GCP’s tools and services for cloud computing, data storage, machine learning, and other key cloud technologies, enabling me to build scalable, efficient, and secure solutions.</p>
                    </div>
                </div>

                <div class="card">
                    <i class="far fa-bell"></i>
                    <h5>AWS CP</h5>
                    <div class="pra">
                        <p>It validates my ability to comprehend core AWS services, cloud computing concepts, and security best practices, equipping me with the skills to confidently navigate AWS and contribute to cloud-based projects.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blog section ends -->

        <!-- contact us section starts  -->
        <section class="contact" id="contact">

            <h2 class="contactTitle">Contact Me</h2>
            <div class="container contactUs">

                <div class="contact-box">
                    <div class="left contactLeft">
                        <img src="contactus.jpg" class="contact-img" alt="" width="150px " />

                        <div class="contact-info">
                            <p><i class="bi bi-telephone-fill"></i> +91-8897743537</p>
                            <p><i class="bi bi-envelope-fill"> </i> anugallusaivivekreddy@gmail.com</p>
                            <p><i class="bi bi-geo-alt-fill"></i> Andhra Pradesh, India</p>

                        </div>
                        <p class='contact-content'>If you have any queries at all, please feel free to reach out and I'll gladly answer them. </p>

                        <p class='contact-content'>Thanks for visiting .</p>

                    </div>
                    <div class="right contactRight">
                        <h2 class='contacth2'>Lets Connect</h2>
                        <form>
                            <input type="text" class="field contactField" placeholder="Enter your Full Name" required/>
                            <input type="email" class="field contactField" placeholder="Enter your Email" required/>
                            <input type="text" class="field contactField" placeholder="Enter your Phone Number" />
                            <textarea name="msg" placeholder="Suggestions/Queries" class="field contactField contactTextarea" required></textarea>
                            <button class="btn contactBtn" type='submit'>Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact section ends -->

        <!-- Footer -->

        <section id="lab_social_icon_footer">

            <div class="container">
                <div class="text-center center-block">
                    <a href=""><i class="bi bi-facebook social"></i></a>
                    <a href=""><i class="bi bi-twitter social"></i></a>
                    <a href=""><i class="bi bi-whatsapp social"></i></a>
                    <a href="mailto:#"><i class="bi bi-envelope social"></i></a>

                    <p class="footertext">© @vivek</p>
                </div>
            </div>
        </section>
    </div>



</body>

</html>
